body {
  background-color: antiquewhite;
  font-family: "Trebuchet MS", "Tahoma", sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

.cookie-total {
  margin: 1svh;
}

.cookie-button {
  border: 0;
  background-color: transparent;
  margin: 5svh;
}

.cookie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cookie-total-container {
  display: flex;
  flex-direction: row;
}

.cookie-total-container img {
  height: 32px;
  width: 32px;
}

.cookie-total-container,
.CPS {
  font-weight: bold;
  font-size: larger;
  text-align: center;
}

.upgrade-menu {
  display: grid;
  gap: 0.5svh;
  grid-template-columns: 1fr 1fr;
}
.upgrade-box {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: burlywood;
}
footer {
  position: static;
}

@media (min-width: 800px) {
  .upgrade-menu {
    display: flex;
    position: fixed;
    top: 1svh;
    right: 1svw;
    height: 90svh;
    flex-direction: column;
    align-items: flex-end;
    gap: 1svh;
  }
  .upgrade-box {
    width: 15svw;
  }
  footer {
    position: fixed;
    bottom: 0;
  }
}

@media (max-width: 550px) {
  .cookie-button img {
    width: 95svw;
  }
}
